
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-banner {
    height: 85vh;
    /* background-image: url(9.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: background 45s infinite ease-in-out;
}

@keyframes background {
    0% {
        background-image: url(1.jpg);
    }
    20% {
        background-image: url(2.jpg);
    }
    40% {
        background-image: url(4.jpg);
    }
    60% {
        background-image: url(5.jpg);
    }
    80% {
        background-image: url(6.jpg);
    }
    100% {
        background-image: url(8.jpg);
    }
}
