
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-banner {
    height: 85vh;
    /* background-image: url(9.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: background 45s infinite ease-in-out;
}

@keyframes background {
    0% {
        background-image: url(9.jpg);
    }
    30% {
        background-image: url(2.jpg);
    }
    50% {
        background-image: url(4.jpg);
    }
    70% {
        background-image: url(5.jpg);
    }
    85% {
        background-image: url(7.jpg);
    }
    100% {
        background-image: url(10.jpg);
    }
}
