
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-banner {
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 1s ease-in-out;
}

@keyframes fadeOut {
    0% {
        background-image: url('1.jpg');
    }
    25% {
        background-image: url('2.jpg');
    }
    50% {
        background-image: url('4.jpg');
    }
    75% {
        background-image: url('5.jpg');
    }
    100% {
        background-image: url('6.jpg');
    }
}
